body{
    padding: 150px;
    background-image: url("pic3.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}
.submit-area{
    
    background-color: rgb(194, 216, 216);;
    margin-top: 50px;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px gray;
}
.transaction-area{
    display: none;
}